/* --------------------------
    importing fonts
----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;900&display=swap');


/* --------------------------
    body and utilities style
----------------------------- */
body{
    background-color: #F4F4F4;
    font-family: "Poppins", sans-serif;
}

/* --------------------------
    header area
----------------------------- */

.item{
   
    border-radius: 2rem;
}
.item-1{
    background-color: #FEEAE9;
}
.item-2{
    background-color: #fad7b1;
}
.item-3{
    background-color: #c9ddfd;
}

/* --------------------------
    categories style
----------------------------- */
.categories .category{
    border-radius: 1.2rem;
}
.categories >div > div>img{
    width: 8rem;
}

.category-1{
    background-image: linear-gradient(180deg,#FF9C35, #FFD019);
}
.category-2{
    background-image: linear-gradient(180deg,#FF589B, #FF136F);
} 
.category-3{
    background-image: linear-gradient(180deg,#4289FF, #3F07F8);
} 

/* --------------------------
    shoes area 
----------------------------- */
.card{
    border-radius: 1.5rem;
}

/* --------------------------
    constant area
----------------------------- */
.contant-us-area{
    background-color: #FFF2F1;
    border-radius: 1.5rem;
    padding: 9rem;
}

.send-box input, .send-box button{
    padding: 1.2rem 1rem;
    border: 0px;
}
.send-box input{
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    outline: none;
}
.send-box button{
   background-image: linear-gradient(180deg,#FF589B,#FF136F);
   border-top-right-radius: .5rem;
   border-bottom-right-radius: .5rem;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
} 



/* --------------------------
    responsive style for mobile
----------------------------- */
@media  only screen and (max-width:799px) {
    .contant-us-area{
        padding: 2rem 0;
    }
}